.main__img{
    display: block;
    margin: auto;
    min-width: 200px;
    width: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* md */
@media (max-width: 800px) {
    .main__img{
      width: 70%;
    }
  }
  